<a href="https://colab.research.google.com/github/ManishKr19/Innomatics-Research-Labs/blob/main/M4_CS2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Loading dependancy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Loading data through pandas
math = pd.read_csv(r'/content/MathScoreTerm1.csv')
physics = pd.read_csv(r'/content/PhysicsScoreTerm1.csv')
ds = pd.read_csv(r'/content/DSScoreTerm1.csv')

In [3]:
# Seems all df has same set of columns and 599 records!
math.shape, physics.shape, ds.shape

((599, 7), (599, 7), (599, 7))

In [4]:
def removeConfidentialCols(df, columnToRemove = ['Name', 'Ethinicity']):
    '''Function to return dataframe after removing the columns from dataframe that are not desired. 
    Input: dataframe and list of columns that doesn't need in dataframe.
    '''
    return df[[column for column in df.columns if column not in columnToRemove]]

In [5]:
# Removed confidential columns from dataframe
math_df, physics_df, ds_df = map(removeConfidentialCols, (math, physics, ds))

In [6]:
print("====Math Info====")
print(math_df.info())
print("====Physics Info====")
print(physics_df.info())
print("=====Data Structure Info=====")
print(ds_df.info())

====Math Info====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Score    596 non-null    float64
 1   Age      599 non-null    int64
 2   Subject  599 non-null    object
 3   Sex      599 non-null    object
 4   ID       599 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 23.5+ KB
None
====Physics Info====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Score    593 non-null    float64
 1   Age      599 non-null    int64
 2   Subject  599 non-null    object
 3   Sex      599 non-null    object
 4   ID       599 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 23.5+ KB
None
=====Data Structure Info=====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Score    591 non-null    float64
 1   Age      599 non-null    int64
 2   Subject  599 non-null    object
 3   Sex      599 non-null    object
 4   ID       599 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 23.5+ KB
None

In [7]:
(math_df['Score'], physics_df['Score'], ds_df['Score']) = map(
    lambda df_series: df_series.fillna(0), (math_df.Score, physics_df.Score, ds_df.Score)
)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
print("====Math Info====")
print(math_df.info())
print("====Physics Info====")
print(physics_df.info())
print("=====Data Structure Info=====")
print(ds_df.info())

====Math Info====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Score    599 non-null    float64
 1   Age      599 non-null    int64
 2   Subject  599 non-null    object
 3   Sex      599 non-null    object
 4   ID       599 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 23.5+ KB
None
====Physics Info====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Score    599 non-null    float64
 1   Age      599 non-null    int64
 2   Subject  599 non-null    object
 3   Sex      599 non-null    object
 4   ID       599 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 23.5+ KB
None
=====Data Structure Info=====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Score    599 non-null    float64
 1   Age      599 non-null    int64
 2   Subject  599 non-null    object
 3   Sex      599 non-null    object
 4   ID       599 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 23.5+ KB
None

In [9]:
# Merging all 3 dataframe 
scorecard_df = pd.concat([math_df, physics_df, ds_df])

In [10]:
scorecard_df.shape

(1797, 5)

In [11]:
def changeCategoryNumeric(sex):
    if sex == 'M':
        return 1
    else:
        return 2

In [12]:
scorecard_df['Sex'] = scorecard_df['Sex'].apply(changeCategoryNumeric)

In [13]:
scorecard_df.to_csv('ScoreFinal.csv', index=False)

In [16]:
cat ScoreFinal.csv | head

Score,Age,Subject,Sex,ID
88.0,18,Maths,1,1
85.0,19,Maths,1,2
45.0,19,Maths,1,3
82.0,18,Maths,1,4
82.0,18,Maths,2,5
95.0,20,Maths,1,6
95.0,18,Maths,1,7
65.0,19,Maths,1,8
88.0,18,Maths,1,9

## **Enhancement for code**

In [17]:
# Convert ethnicity to numerical value
def makeCategory(df, col = 'Ethinicity'):
    df[col] = pd.Categorical(df[col])
    return df

In [18]:
def categorizeDf(scoreCard):
    cat_columns = list(scoreCard.select_dtypes(['category']).columns)
    for col in cat_columns:
        scoreCard[col] = scoreCard[col].astype('category')
        scoreCard[col] = scoreCard.loc[:, col].cat.codes
    return scoreCard

In [19]:
math, physics, ds = map(makeCategory, (math, physics, ds))

In [20]:
math, physics, ds = map(categorizeDf, (math, physics, ds))

In [21]:
means = [np.mean(df['Score'])for df in [math,physics,ds]]

In [22]:
(math['Score'], physics['Score'], ds['Score']) = map(
    lambda df_series: df_series.fillna(np.mean(df_series)), (math.Score, physics.Score, ds.Score)
)