<a href="https://colab.research.google.com/github/ManishKr19/Innomatics-Research-Labs/blob/main/Task_2_(Data_Types).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Task - 2 (Data Types)**

[*https://www.hackerrank.com/domains/python?filters%5Bsubdomains%5D%5B%5D=py-basic-data-types&filters%5Bsubdomains%5D%5B%5D=py-sets*](https://www.hackerrank.com/domains/python?filters%5Bsubdomains%5D%5B%5D=py-basic-data-types&filters%5Bsubdomains%5D%5B%5D=py-sets)

***LIST COMPREHENSIONS***

In [ ]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    print ([[a,b,c] for a in range(0,x+1) for b in range(0,y+1) for c in range(0,z+1) if a + b + c != n ])

1
1
1
3
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0]]

***Find the Runner-Up Score!***

In [ ]:
if __name__ == '__main__':
    n = int(input())
    arr = sorted(list(set(map(int, input().split()))))
    print(arr[-2])

6
1 4 3 4 3 6
4

***Finding the percentage***

In [ ]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    res = student_marks[query_name]
    print("{:.2f}".format((sum(res)/len(res))))

2
Harsh 25 26.5 28
Anurag 26 28 30
Harsh
26.50

***Lists***

In [1]:
if __name__ == '__main__':
    n = int(input())
    l = []
    for _ in range(n):
        s = input().split()
        st, args = s[0], s[1:]
        if st !="print":
            st += "("+ ",".join(args) +")"
            eval("l."+st)
        else:
            print(l)

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
sort
print
[5, 9, 10]
pop
reverse
print
[9, 5]
print
[9, 5]

***Tuples***

In [4]:
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    print(hash(tuple(integer_list)))

2
1 2
3713081631934410656

***Introduction to Sets***

In [5]:
def average(array):
    return sum(set(array))/len(set(array))

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

***No Idea!***

In [6]:
n, m = input().split()
sc_ar = input().split()

A = set(input().split())
B = set(input().split())

print(sum([(i in A) - (i in B) for i in sc_ar]))

3 2
1 5 3
3 1
5 7
1

***Symmetric Difference***

In [7]:
a,b = [set(input().split()) for _ in range(4)][1::2]
print('\n'.join(sorted(a^b, key=int)))

4
2 4 5 9
4
2 4 11 12
5
9
11
12

***Set.add()***

In [8]:
s = set()
for _ in range(int(input())):
    s.add(input())
print(len(s))

7
UK
China
USA
France
UK
New Zealand
UK
5

***Set.discard(), .remove() & .pop()***

In [10]:
n = int(input())
s = set(map(int, input().split())) 
for i in range(int(input())):
    eval('s.{0}({1})'.format(*input().split()+['']))

print(sum(s))

9
1 2 3 4 5 6 7 8 9
3
remove 9
discard 8
pop
27

***Set.union() Operation***

In [11]:
_, a = input(), set(input().split())
_, b = input(), set(input().split())
print(len(a.union(b)))

9
1 2 3 4 5 6 7 8 9
9
11 22 33 44
13

***Set .intersection() Operation***

In [12]:
_, a = input(), set(input().split())
_, b = input(), set(input().split())
print(len(a.intersection(b)))

3
1 2 3
5
2 3 5 7 9
2

***Set .difference() Operation***

In [13]:
_, a = input(), set(input().split())
_, b = input(), set(input().split())
print(len(a.difference(b)))

3
1 2 3
4
4 5 6 7
3

***Set .symmetric_difference() Operation***

In [14]:
_, a = input(), set(input().split())
_, b = input(), set(input().split())
print(len(a.symmetric_difference(b)))

3
1 2 3
5
2 3 45
2

***Set Mutations***

In [15]:
if __name__ == '__main__':
    (_, A) = (int(input()),set(map(int, input().split())))
    B = int(input())
    for _ in range(B):
        (command, newSet) = (input().split()[0],set(map(int, input().split())))
        getattr(A, command)(newSet)

    print (sum(A))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

***The Captain's Room***

In [16]:
_, a = input(), sorted(input().split())
print((set(a[0::2])^set(a[1::2])).pop())

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

***Check Subset***

In [17]:
for _ in range(int(input())):
    x, a, z, b = input(), set(input().split()), input(), set(input().split())
    print(a.issubset(b))

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

***Check Strict Superset***

In [18]:
a = set(input().split())
print(all(a > set(input().split()) for _ in range(int(input()))))

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5 6
100 11 12
False

***Nested Lists***

In [19]:
if __name__ == '__main__':
    a= []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        a.append([score, name])

    a.sort()
    b = [i for i in a if i[0] != a[0][0]]
    c = [j for j in b if j[0] == b[0][0]]
    
    c.sort(key=lambda x: x[1])
    for i in range(len(c)):
        print(c[i][1])

5
Harry
37.71
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry